/* .bar {
    fill: sienna;
}

.bar:hover {
    fill: darkkhaki;
}

.x-axis path, .x-axis line,
.y-axis path, .y-axis line {
    shape-rendering: crispEdges;
}

.x-axis text, .y-axis text {
    font-size: 12px;
} */